body {
  margin: 0;
  font-size: 5px;
  font-size: calc(5px + (10 - 5)*((100vw - 320px)/1600));
  background: transparent;
}
.body-wrapper {
  width: 100vw;
  height: 100vh;
}
.sky {
  position: relative;
  width: 100%;
  height: 100%;
/*
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
*/
  background: -webkit-radial-gradient(
    top center,
    circle,
    #1a082cff 0,
    #1a082cff 65%,
    #33097aff 100%
  );
  background: -o-radial-gradient(
    top center,
    circle,
    #1a082cff 0,
    #1a082cff 65%,
    #33097aff 100%
  );
  background: radial-gradient(
    circle at top center,
    #1a082cff 0,
    #1a082cff 65%,
    #33097aff 100%
  );
  overflow: hidden;
}
.sky__stars {
  position: relative;
  width: 100%;
  height: 100%;
/*
  left: 50%;
  transform: translate(-50%,-50%) rotate(0deg);
*/
  background: -webkit-radial-gradient(
    red 0,
    red 40px,
    transparent 100%;
  );
  background: -o-radial-gradient(
    red 0,
    red 40px,
    transparent 100%;
  );
  background: radial-gradient(
    red 0,
    red 40px,
    transparent 100%;
  );
/*  animation: rotation360 800s;*/
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  
}
@-webkit-keyframes rotation360 {
  0% {
    -webkit-transform: translate(-50%,-50%) rotate(0deg);
            transform: translate(-50%,-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%,-50%) rotate(360deg);
            transform: translate(-50%,-50%) rotate(360deg);
  }
}
@keyframes rotation360 {
  0% {
    -webkit-transform: translate(-50%,-50%) rotate(0deg);
            transform: translate(-50%,-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%,-50%) rotate(360deg);
            transform: translate(-50%,-50%) rotate(360deg);
  }
}
.star {
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.js-blink {
  opacity: .5;
  -webkit-transform: translate(-50%,-50%) scale(.7);
      -ms-transform: translate(-50%,-50%) scale(.7);
          transform: translate(-50%,-50%) scale(.7);
}
.star--small {
  width: 10px;
  height: 10px;
}
.star--medium {
  width: 15px;
  height: 15px;
}
.star--big {
  width: 20px;
  height: 20px;
}
.star--red {
  background: #fcbdbdff; 
  -webkit-box-shadow: 0 0 5px 1px #fcbdbd88;
  box-shadow: 0 0 5px 1px #fcbdbd88;
}
.star--yellow {
  background: #fcf8bdff;
  -webkit-box-shadow: 0 0 5px 1px #fcf8bd88;
  box-shadow: 0 0 5px 1px #fcf8bd88;
}
.star--blue {
  background: #cbc0f9ff;
  -webkit-box-shadow: 0 0 5px 1px #cbc0f988;
  box-shadow: 0 0 5px 1px #cbc0f988;
}
.star--white {
  background: white;
  -webkit-box-shadow: 0 0 5px 1px #ffffff88;
  box-shadow: 0 0 5px 1px #ffffff88;
}
.sky__lamp {
  position: absolute;
  width: 40em;
  height: 40em;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  border-radius: 50%;
  background: #f4f1a8;
  -webkit-animation: doubleBoxShadow 4s linear 1s infinite;
          animation: doubleBoxShadow 4s linear 1s infinite;
}
@-webkit-keyframes doubleBoxShadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 #f4f1a880,
      0 0 0 0 #f4f1a830;
            box-shadow: 0 0 0 0 #f4f1a880,
      0 0 0 0 #f4f1a830;
  }
  35% {
    -webkit-box-shadow: 0 0 0 6em #f4f1a880,
      0 0 0 12em #f4f1a830;
            box-shadow: 0 0 0 6em #f4f1a880,
      0 0 0 12em #f4f1a830;
  }
  100% {
    -webkit-box-shadow: 0 0 0 10em #f4f1a800,
      0 0 0 18em #f4f1a800;
            box-shadow: 0 0 0 10em #f4f1a800,
      0 0 0 18em #f4f1a800;
  }
}
@keyframes doubleBoxShadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 #f4f1a880,
      0 0 0 0 #f4f1a830;
            box-shadow: 0 0 0 0 #f4f1a880,
      0 0 0 0 #f4f1a830;
  }
  35% {
    -webkit-box-shadow: 0 0 0 6em #f4f1a880,
      0 0 0 12em #f4f1a830;
            box-shadow: 0 0 0 6em #f4f1a880,
      0 0 0 12em #f4f1a830;
  }
  100% {
    -webkit-box-shadow: 0 0 0 10em #f4f1a800,
      0 0 0 18em #f4f1a800;
            box-shadow: 0 0 0 10em #f4f1a800,
      0 0 0 18em #f4f1a800;
  }
}
.tea {
  position: relative;
  left: 50%;
  top: 50%;
  width: 60%;
  height: 60%;
  -webkit-transform: translate(-50%,-50%) rotate(10deg);
      -ms-transform: translate(-50%,-50%) rotate(10deg);
          transform: translate(-50%,-50%) rotate(10deg);
  -webkit-transform-origin: 48% 5%;
      -ms-transform-origin: 48% 5%;
          transform-origin: 48% 5%;
  background: center/100% url(tea.svg) no-repeat;
  -webkit-animation: rotation 10s infinite ease-in-out;
          animation: rotation 10s infinite ease-in-out;
}
@-webkit-keyframes rotation {
  50% {
    -webkit-transform: translate(-50%,-50%) rotate(-10deg);
            transform: translate(-50%,-50%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translate(-50%,-50%) rotate(10deg);
            transform: translate(-50%,-50%) rotate(10deg);
  }
}
@keyframes rotation {
  50% {
    -webkit-transform: translate(-50%,-50%) rotate(-10deg);
            transform: translate(-50%,-50%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translate(-50%,-50%) rotate(10deg);
            transform: translate(-50%,-50%) rotate(10deg);
  }
}
