body {
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 300;
  line-height: 1.333;
  display: flex;
  justify-content: center;
}
.h1 {font-weight: 500;}
.sep {font-weight: 500;}
pre {font-family: inherit;}
em {
  color: red;
  font-style: normal;
}
.keywords {
  color: grey;
}
.btn {
  color: blue;
  text-decoration: none;
}
.btn:hover {
  color: white;
  background: blue;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}
.btn.inst:hover {
  color: white;
  /* background: https://codepen.io/thomasrye/pen/VaRoYv */
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
/* sacred deer scpecial */
#scrddr_name {color: orange;}
#scrddr_final {color: mediumturquoise;}
.scrddr_tip {color: springgreen;} /* why `?` doesn't work*/
/* end: sacred deer scpecial */
