/*
orange     #fb9516
pink???    #d6249f
lightgrey  #eae9eb
darkgrey   #d2d0d2
*/

body {
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 300;
  line-height: 1.333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .sep {align-self: flex-start;} */
.h1 {font-weight: 500;}
.sep {font-weight: 500;}
pre {
  margin: 0;
  font-family: inherit;
  white-space: pre;
}
.keywords {
  color: grey;
}

.btn {
  color: #d6249f;
/*   background: #d6249f; */
  text-decoration: none;
/*   margin-left: .2em; */
}
.btn::before {content: '[';}
.btn::after {content: ']';}
.btn::before, .btn::after {color: black;}
.btn:hover {
  color: white;
  background: #d6249f;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #d6249f;
}
a:hover {
  text-decoration: underline;
}

/* nav */
.nav {
  font-weight: 300;
  color: white;
}
.navbtn_prfx {
  background: #000;
  color: white;
}
.navbtn {
  color: white;
  background: #fb9516;
  box-shadow: .5em .5em 0 #eae9eb;
  display: inline-block;
}
.navbtn_body::before {
  content: '[';
}
.navbtn_body::after {
  content: ']'; 
}
.navbtn_body::before, .navbtn_body::after {
  color: black;
}
.navbtn:hover {
  transform: translate(.1em, .1em);
  text-decoration: none;
  box-shadow: .4em .4em 0 #d2d0d2;
}
/* end: nav */

/* .title {background: #eae9eb;} */

.btn.inst:hover {
  color: white;
  /* background: https://codepen.io/thomasrye/pen/VaRoYv */
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
/* sacred deer scpecial */
#scrddr_name {color: orange;}
#scrddr_final {color: mediumturquoise;}
.scrddr_tip {color: green;} /* why `?` doesn't work*/
/* end: sacred deer scpecial */
