body {
  margin: 0;
  font-family: sans;
  font-size: 16px;
}
.body-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.elem-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
  width: 10em;
  height: 10em;
  
/*   background: lightgreen; */
}
/* control inner size of buttons */
.elem-wrapper .btn {  
  width: 70%;
  height: 70%;
  cursor: pointer;
}


/* EXIT BUTTON */
/* ***************************** */
.exit--circle {
  position: relative;
  border-radius: 100%;
  background: salmon;
  
  box-shadow: 0 0 0 0 lightsalmon;
  
  transition: transform .5s;
}
.exit--circle:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0 1em transparent;
  transition: box-shadow 1s;
}
.exit--circle .bar {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 80%;
  height: 10px;
  
  border-radius: 5px;
  background: white;
}

.exit--circle .bar:first-child {
  transform: translate(-50%,-50%) rotate(45deg);
}
.exit--circle .bar:last-child {
  transform: translate(-50%,-50%) rotate(-45deg);
}
/* ***************************** */

/* MINIMIZE BUTTON */
/* ***************************** */
.minimize {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.minimize .bar {
  height: 5%;
  width: 70%;
  background-color: salmon;
  transition: transform .5s;
}
.minimize .bar:first-child {
  transform: translateY(-250%);
}
.minimize .bar:nth-child(2){
  box-shadow: 0 0 0 0 lightsalmon;
}
.minimize .bar:last-child {
  transform: translateY(250%);
}
.minimize:hover .bar {
  transition: transform .5s, box-shadow 1s .25s;
}
.minimize:hover .bar:first-child {
  top: 50%;
  transform: translateY(100%);
}
.minimize:hover .bar:nth-child(2) {
  box-shadow: 0 0 0 .85em transparent;
}
.minimize:hover .bar:last-child {
  top: 50%;
  transform: translateY(-100%);
}
/* ***************************** */


/* SLIDER */
/* ***************************** */
.input--range
{
  position: relative;
  width: 100%;
  height: 2em;
  
/*   background: black; */
}
.input--range__p {
  position: absolute;
  
  top: 50%;
  transform: translateY(-50%);
  
  width: 100%;
  height: 1em;
  
  border: 1px solid #4a5155ff;
  border-radius: .5em;
  box-shadow: inset 0 0 1px .5px black;
  background: #e5e3e5ff;
}
.input--range__t {
  position: relative;
  
  top: 50%;
  transform: translate(-50%, -50%);
  
  width: 2em;
  height: 2em;
  
  border: 1px solid #4a5155ff;
  box-shadow: inset 0 0 1px .5px black;
  border-radius: 50% 50%;
  background: white;
  cursor: pointer;
}
.input--range__t > span
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  
/*   background: red; */
/*   border: 1px solid black; */
}
/* ***************************** */
