@font-face {
  font-family: ui;
  src: url(./Montserrat-Regular.ttf);
}

body {
  margin: 0;
  font-family: ui;
  font-size: 16px;
  color: #505050;
  overflow-y: hidden;
}
p {
  margin: 0;
}
body > svg {
  width: 0;
}
.body-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#mobile-warning {
  display: none;
}
#app {
  width: 100%;
  height: 100%;
  background: grey;
}
#menu {
  position: relative;
  width: 27em;
  height: 100%;
  background: white;
  float: left;
  overflow-y: scroll;
}

#display {
  position: relative;
  width: calc(100% - 27em);
  height: 100%;
  background: yellow;
  float: left;
}

/* menu */
/* ****************************************** */
.menu__item
{
  padding: 1em 1em;
}
.item__label {
  text-align: center;
  margin-bottom: 1em;
}
.menu__item:first-child {
  margin-top: 3em;
}
.menu__item:first-child .item__func > div {
  margin: 0.5em 0;
}
.menu__item:first-child .item__func span:nth-child(even) {
  display: inline-block;
  float: right;
}
.menu__item.disabled .color-show {
  opacity: 0.2; 
}
#inp-num-vertexes {
  width: 1.5em;
  margin-left: 1em;
  
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 2px solid #c5c5c5;
  font-family: inherit;
  font-size: 1.1em;
  color: inherit;
}
#inp-num-vertexes:focus {
  border-bottom: 2px solid #F1CC2E;
}
/* button:focus, */
button:hover
{
  border: 2px solid #F1CC2E; /* orange strong */
  transition: all .3s;
}
#poly-gen-form__btn {
  float: right;
}
button {
  padding: .1em .5em;
  
  font-family: inherit;
  font-size: inherit;
  
  background: none;
  border: 2px solid #c5c5c5;
  border-radius: .5em;
  outline: none;
  cursor: pointer;
  transition: all .3s;
  
  color: inherit;
}
button::-moz-focus-inner {
  border: 0;
}
button:active {
  background: #FCF0BD; /* orange light */
  transition: all .3s;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  font-size: inherit;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range]::-moz-range-thumb {
  width: 2em;
  height: 2em;
  
  background: white;
  border: 1px solid #c5c5c5;
  border-radius: 1em;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  margin-top: -14px;
  background: white;
  border: 1px solid #c5c5c5;
  border-radius: 1em;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  width: 2em;
  height: 2em;
  margin-top: -14px;
  background: white;
  border: 1px solid #c5c5c5;
  border-radius: 1em;
  cursor: pointer;
}
input[type=range]::-moz-range-track
{
  width: 100%;
  height: 1px;
  background: #cac6ca;
  border-radius: .1em;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: #cac6ca;
  border-radius: .1em;
}
input[type=range]::-ms-track
{
  width: 100%;
  height: 1px;
  background: #cac6ca;
  border-radius: .1em;
}

.gradient-choose,
.color-choose
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gradient-choose,
.color-choose {
  flex-grow: 1;
}
.color-show {
  width: 70%;
  height: 1.5em;
  border-radius: 1em;
  background: yellow;
  
  transition: all .25s;
}
input[type=color],
input[type=checkbox]
{
  cursor: pointer;
}
input[type=color]:disabled {
  cursor: not-allowed;
}
input[type=color]{
  width: 2em;
  height: 2em;
  padding: 0;
  margin: 0;
}
input[type=checkbox] {
  visibility: hidden;
}
.color--disable {
/*   width: 2.2em; */
/*   height: .1em; */
/*   background: #c5c5c5; */
  position: relative;
  border-radius: 3px;
}
.color--disable label {
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 0;
  background: #ededed;
  border: 1px solid #c5c5c5;
}
.color--disable input[type=checkbox]:checked + label {
  background: white;
}

.menu__item:last-of-type .item__func {
  display: flex;
  justify-content: space-around;
}

#menu > footer {
  margin: 3em 0 0 0;
  text-align: center;
}
#menu > footer 
a {
  text-decoration: none;
  color: #a6a6a6;
}
#menu > footer a:focus {
  outline: none;
}
/* ****************************************** */


#draw {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1400px){
  .menu__item {
    padding: 1em 1em;
  }
  .menu__item:first-child {
    margin-top: 0;
  }
  #menu footer {
    margin: 3em 0 2em 0;
  }
}
@media screen and (max-width: 950px){
  #app {
    display: none;
  }
  #mobile-warning {
    display: initial;
    padding: 2em;
  }
  #mobile-warning > * {
    margin: 1em 0;
  }
  #mobile-warning p:nth-child(3){
    margin: 5em 0 0 0;
  }
}