body {
  margin: 0;
  background: black;
  color: white;
  font-family: 'Jura', sans-serif;
  font-size: 20px;
}
.body-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#title {
  font-size: 2em;
  margin-bottom: 1em;
}
#js__field {
  position: relative;
  width: 22em;
  height: 15em;
  max-width: 100vw;
  max-height: 100vh;
  background-image: radial-gradient(
    hsl(0,100%,90%) .16em, transparent 0
  );
  background-size: 1em 1em;
  background-position: .5em .5em;
}
.js__point {
  position: absolute;
  opacity: 1;
  border-radius: 50%;
}