body {
  margin: 0;
  font-family: sans;
  font-size: 25px;
}
#svg-wrapper {
  width: 100vw;
  height: 80vh;
  position: relative;
  background-image: url('img/cropped.png');
  background-size: 100% 100%;
}
#score {
  position: absolute;
  top: 25%;
  right: 5%;
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.5);
  color: white;
}
#svg-wrapper svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#control {
  height: 20vh;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
}
#control__lr,
#control__dr
{
  display: flex;
  margin: 0 10px;
  width: 45%;
}
#control__lr .btn,
#control__dr .btn
{
  width: 50%;
}
.btn {
  padding: .25em .5em;
  border: 1px solid black;
  border-radius: 2em;
  text-align: center;
  
      user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
  
}
.btn:hover {
  cursor: pointer;
}
#btn-init {
  display: none;
}
#desktop-help {
  display: none;
  position: absolute;
  right: 5%;
  top: 0;
  width: 20%;
}
@media screen and (min-width: 900px){
  #svg-wrapper,
  #control {
    width: 50%;
    margin: auto;
  }
  #desktop-help {
    display: block;
  }
}