:root {
  --hollywood-cerise-600: #d6249f;
  --hollywood-cerise-700: #be1886;
  --silver-chalice-50: #f6f6f6;
  --silver-chalice-200: #d5d5d3;
  --silver-chalice-600: #7e7d78;
  --silver-chalice-950: #262624;
  --ff-mono: "PT Mono", monospace;
}

body {
  display: grid;
  
  grid-template-columns: min(768px, calc(100vw - 24px));
  grid-template-rows: min-content auto min-content;
  justify-content: center;
  
  min-height: 100vh;
  margin: 0 12px;
  
  font-family: "PT Sans", sans;
  font-size: 16px;
  
  color: var(--silver-chalice-950);
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1, h2, h3, h4 { font-family: "PT Sans Caption", sans; }

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }

.site-name {
  display: flex;
  align-items: center;
  gap: 8px;
  
  font-family: "PT Sans Caption", sans;
  font-weight: bold;
  letter-spacing: 0.01em;
  font-size: 36px;
  color: var(--silver-chalice-950);
}

.site-name:hover {
  text-decoration: none;
}

.site-name img {
  width: 64px;
  height: 64px;
}

.nav-global {
  display: flex;
  gap: 24px;
  font-weight: bold;
  flex-wrap: wrap;
}

.page-main {
  padding-top: 64px;
  padding-bottom: 128px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
  
  margin: 0;
  padding-bottom: 48px;
}

@media only screen and (max-width: 600px){
  .page-footer {
    align-items: center;
    gap: 4px;
    padding-bottom: 24px;
  }
}

.page-footer p {
  margin: 0;
  font-size: 12px;
}

a {
  color: var(--hollywood-cerise-600);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* region: index */

.index-main-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.article-list-header,
.article header h2 {
  margin-top: 0;
  margin-bottom: 36px;
}

.article-list {
  display: grid;
  gap: 32px;
}

.article-list__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-list__item__header {
  font-family: "PT Sans Caption", sans;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.article-list__link,
.article-list__link:visited {
  color: var(--hollywood-cerise-600);
  text-decoration: none;
}

.article-list__summary {
  margin: 0;
}

.index-welcome {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.index-welcome * {
  margin: 0;
}

/* endregion: index */

/* region: content (single article) */

.article h5 {
  font-family: "PT Sans", sans;
  font-weight: normal;
  font-style: italic;
}

.article code,
.highlight * {
  font-family: var(--ff-mono);
}

.article header h2 { font-size: 30px; }
.section h2 { font-size: 24px; margin: 36px 0 16px 0; }
.article h3 { font-size: 20px; margin: 30px 0 16px 0; }
.article h4 { font-size: 18px; margin: 24px 0 16px 0; }
.article h5 { font-size: 16px; margin: 16px 0; }
.article p { margin: 16px 0; }
.article .highlight { margin: 16px 0; }
.article .highlight pre { margin: 0; }

.article p { line-height: 24px; }

.article .epigraph {
  margin: 16px 0;
  font-style: italic;
}

.article .figure {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.article .figure.align-center {
  align-items: center;
}

.article .figure img {
  max-width: 100%;
}

.article .figure .caption {
 margin-bottom: 0;
}

.article .highlight,
.article code {
  font-size: 15px;
}

.article ul,
.article ol {
  padding-left: 32px;
}

@media only screen and (max-width: 600px){
  .article ul,
  .article ol {
    padding-left: 16px;
  }
}

.article .highlight {
  overflow-x: auto;
  padding: 16px;
  border: 1px solid gray;
  border-radius: 6px;
}

.article table,
.article table th,
.article table td {
  border: none;
  border-collapse: collapse;
}

.article table thead {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  text-align: left;
}

.article .head { font-weight: normal; }

.article table tbody {
  border-bottom: 2px solid black;
  vertical-align: baseline;
}

.article .highlighttable tbody {
  border-bottom: none;
}

.article table th,
.article table td {
  padding: 4px 8px;
}

.article table.align-center {
  margin: auto;
}

/* Epigraph is also a blockquote */
.article blockquote:not(.epigraph) {
  font-size: 18px;
  line-height: 26px;
  margin: 32px 32px;
}

.article blockquote:not(.epigraph) code {
  font-size: 17px;
}

@media only screen and (max-width: 600px){
  .article blockquote:not(.epigraph) {
    margin: 32px 16px;
  }
}

.article hr.docutils {
  margin: 48px 0;
  border-color: #ebebe9;
}

.article-date {
  color: var(--silver-chalice-600);
  font-style: italic;
}

.article-footer__actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 48px;
}

/* Keyboard shortcuts */
.article span.kbd {
  display: inline-block;
  padding: 0 8px;
  margin: 2px 0;
  border-radius: 4px;
  background-color: var(--silver-chalice-50);
  border: 1px solid var(--silver-chalice-200);
}

.article td span.kbd {
  line-height: 24px;
}

/* endregion: content (single article) */
