@font-face {
  font-family: sans;
  src: url(../ttf/Century-Gothic.ttf)
}
@font-face {
  font-family: bas;
  src: url(../ttf/Lora-Regular.ttf)
}
@font-face {
  font-family: basi;
  src: url(../ttf/Lora-Italic.ttf)
}
@font-face {
  font-family: fancy;
  src: url(../ttf/Kurale-Regular.ttf)
}
body, html, p {
  margin: 0;
}
p { display: block; }
#wrapper {
  height: 100vh;
}
#title {
  height: 15%;
  /*width: 100vw;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  
  -webkit-box-shadow: 0 4px 2px #1f003e;
  
          box-shadow: 0 4px 2px #1f003e;
  background-color: #490095;
  
  font-size: 48px;
}
#counter {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  left: 0;
}
#deck {
  height: 75%;
  background-color: #fcfcf8;
}
.card {
  height: 100%;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  
  text-align: center;
  font-size: 28px;
}
.separator {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.sep-line {
  width: 100%;
  height: 4px;
  background-color: #000000;
}
.sep-square {
  border: 4px solid #000000;
  height: 8px;
  width: 8px;
  margin-top: -9px;
  background-color: #fcfcf8;
}
.card.question {
  font-family: fancy;
  font-size: 48px
}
.card .native {
  font-family: fancy;
  font-size: 44px;
}

#end {
  font-size: 36px;
}
#score, #nickname {
  font-size: 40px;
}

#control {
  -ms-flex-item-align:   auto;
      -ms-grid-row-align:   auto;
      align-self:   auto;
  
  height: 10%;
  background-color: #ff9c0c;
  -webkit-box-shadow: 0 -4px 2px #ae6800;
          box-shadow: 0 -4px 2px #ae6800;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
#control:hover {
  background-color: #ee8d00ff;
}
.btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack:  center;
      -ms-flex-pack:  center;
          justify-content:  center;
  
  font-size: 40px;
  
  -webkit-transition: .3s;
  
  -o-transition: .3s;
  
  transition: .3s;
}
.btn:hover {
  background-color: #ffa82aff;
  cursor: pointer;
  
}
.btn, #title {
  color: #ffffff;
}
.btns {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btns .btn {
  height: 100%;
  width: 50%;
}
#line {
  width: 2px;
  height: 60%;
  background-color: #ffffff;
}

#next, #share, #yes-no{
  display:  none;
}

#share:hover {
  cursor: auto;
  background-color: #ff9c0c;
}

.ya-share2 {
  min-height: 30px;
  min-width: 70%;
}

.ya-share2 > div {
  width: 100%;
  /*height: 100%;*/
}
.ya-share2 > div > ul {
  /*height: inherit;*/
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ya-share2__icon {
  min-width: 30px;
  min-height: 30px;
}

.ya-share2__counter.ya-share2__counter_visible{
  margin-top: 3px;
}

a {
  text-decoration: underline;
}

i {
  font-family: basi;
}

#title, #control {
  font-family: sans;
}

.card {
  font-family: bas;
}
p.question {
  font-family: fancy;
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px){
  .card.answer .native {
    font-size: 36px;
  }
  .card.question {
    font-size: 40px;
  }
  .btn {
    font-size: 32px;
  }
  #title {
    font-size: 44px;
    -webkit-box-shadow: 0 2px 2px #1f003e;
            box-shadow: 0 2px 2px #1f003e;
  }
  #control {
    -webkit-box-shadow: 0 -2px 2px #ae6800;
            box-shadow: 0 -2px 2px #ae6800;
  }
  .card#end {
    font-size: 28px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px){
  .card {
    font-size: 24px;
  }
  #title {
    -webkit-box-shadow: 0 2px 2px #1f003e;
            box-shadow: 0 2px 2px #1f003e;
  }
  #control {
    -webkit-box-shadow: 0 -2px 2px #ae6800;
            box-shadow: 0 -2px 2px #ae6800;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height:640px){
  #title{font-size:44px}
  .btn {font-size: 36px}
  .card#end {font-size: 32px}
  #title {
    -webkit-box-shadow: 0 2px 2px #1f003e;
            box-shadow: 0 2px 2px #1f003e;
  }
  #control {
    -webkit-box-shadow: 0 -2px 2px #ae6800;
            box-shadow: 0 -2px 2px #ae6800;
  }
  
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px){
  .card {
    font-size: 24px;
  }
  #title {
    -webkit-box-shadow: 0 2px 2px #1f003e;
            box-shadow: 0 2px 2px #1f003e;
  }
  #control {
    -webkit-box-shadow: 0 -2px 2px #ae6800;
            box-shadow: 0 -2px 2px #ae6800;
  }

}
@media only screen and (min-device-width: 1024px) and (max-device-height:768px){
  .ya-share2__icon {
    min-width: 40px;
    min-height: 40px;
  }
  .ya-share2__counter.ya-share2__counter_visible{
    margin-top: 7px;
  }  
}
@media only screen and (min-width: 1200px){
  #wrapper {
    max-width: 800px;
    max-height: 600px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .ya-share2__icon {
    min-width: 40px;
    min-height: 40px;
  }
  .ya-share2__counter.ya-share2__counter_visible{
    margin-top: 7px;
  }
}
