body {
  font-family: sans-serif;
  font-size: 16px;
}

hgroup {
  text-align: center;
}

article > header {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 50%;
}
td.singer {
  text-align: right;
  font-weight: bold;
}
td.song {
  text-align: left;
}

footer {
  text-align: center;
  margin-top: 2em;
}
